@model AutomobileLibrary.DataAccess.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<header class="panel-heading">
    Thông tin Nhân viên
</header>

<div panel-body>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.NgaySinh)
            
        </dd>
    </dl>

<div>
    @Html.ActionLink("Sửa", "Edit", "NhanVien", null, new  {@class="btn btn-danger"} ) 
    @Html.ActionLink("Quay Lại","Index", "NhanVien", null, new {@class="btn btn-danger"} )
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
