@model IEnumerable<AutomobileLibrary.DataAccess.HoaDon>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Hóa Đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<header class="panel-heading">
    Quản lý Hóa Đơn
</header>
<div class="panel-body">
    <p>
    @Html.ActionLink("Thêm Mới","Create","HoaDon", null, new {@class="btn btn-danger"})
    </p>
    <div class="text-align">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">

            @TempData["Message"]
        </div>
    }
    </div>
    <div class="row form-body">
        <div class="form-group mb-4">
        @using (Html.BeginForm("Index", "HoaDon", FormMethod.Get))
        {
                <div class="row col-lg-6">
                @Html.TextBox("SearchString", TempData["searchString"], null, new {@class="form-control", @placeholder="Nhập từ khoá cần tìm kiếm"})
            </div>

            <div class="col-lg-6">
                <input type="submit" class="btn btn-danger" value="Tìm kiếm" />
            </div
            <div style="clear: both"></div>
        }
        </div>
    
   
        @using (Html.BeginForm("DeleteMultiple", "HoaDon", FormMethod.Post))
        {
            <div class="form-group">
            <table class="table table-striped">
                
                <thead>
                    <tr>
                        <th>
                            @{
                                var sortBy = Context.Request.Query["sortby"] == "id" ? "iddesc" : "id";
                            }
                            <a href="@Url.Action("Index","HoaDon",new {sortBy=sortBy,SearchString=@Context.Request.Query["SearchString"]})">
                            @Html.DisplayNameFor(model => model.MaHoaDon)
                            </a>
                        </th>
                        <th>
                            @{
                                sortBy = Context.Request.Query["sortby"] == "MaNhanVien" ? "MaNhanViendesc" : "MaNhanVien";
                            }
                            <a href="@Url.Action("Index","HoaDon",new {sortBy=sortBy,SearchString=@Context.Request.Query["SearchString"]})">
                            @Html.DisplayNameFor(model => model.MaNhanVien)
                            </a>
                        </th>
                        <th>
                            @{
                                sortBy = Context.Request.Query["sortby"] == "MaKhachHang" ? "MaKhachHangdesc" : "MaKhachHang";
                            }
                            <a href="@Url.Action("Index","HoaDon",new {sortBy=sortBy,SearchString=@Context.Request.Query["SearchString"]})">
                            @Html.DisplayNameFor(model => model.MaKhachHang)
                            </a>
                        </th>
                        <th>
                            @{
                                
                                sortBy = Context.Request.Query["sortby"] == "NgayBan" ? "NgayBandesc" : "NgayBan";
                            }
                            <a href="@Url.Action("Index","HoaDon",new {sortBy=sortBy,SearchString=@Context.Request.Query["SearchString"]})">
                            @Html.DisplayNameFor(model =>  model.NgayBan)
                            

                            </a>
                            
                          </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TongTien)
                        </th>
                        
                        <th>
                            Chức năng

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                 
                                            @Html.DisplayFor(modelItem => item.MaHoaDon)
                                </td>
                                <td>
                                 
                                        @Html.DisplayFor(modelItem => item.MaNhanVien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaKhachHang)
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.NgayBan) *@
                                   @Convert.ToDateTime(item.NgayBan).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TongTien)
                                
                                    
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new {  id=item.MaHoaDon  },new {@class="text-danger"}) |
                                    @Html.ActionLink("Chi Tiết", "Details", new {  id=item.MaHoaDon},new {@class="text-green" })  |
                                    @Html.ActionLink("Xóa", "Delete", new {id=item.MaHoaDon },new {@class="text-danger"})
                                    <input type="checkbox" name="SelectedCatDelete" value="@item.MaHoaDon">
                                </td>
                            </tr>
                        }
                    }
                </tbody>
             </table>
                @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
                SearchString = @Context.Request.Query["SearchString"],sortby = @Context.Request.Query["sortby"]}),
                 new X.PagedList.Web.Common.PagedListRenderOptions {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] { "page-link" }})
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete Selected Rows</button>
          </div>
        </div>
        }
    </div>
